:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-track {
    background: #1a1a1a;
}

.container::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: auto 0;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 20px;
    z-index: 999;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search-input {
    width: 100%;
}

button {
    width: 100%;
    max-width: 200px;
    height: 36px;
}

.loading-spinner-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.results-wrapper {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    border: 1px solid #1a1a1a;
}

.results-wrapper mat-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
    animation: slideInFromLeft 0.3s;
    border: 1px solid #30363c;
    border-radius: 2px;
}

.results-wrapper mat-list-item:hover {
    background-color: #1f262e;
    transition: 0s;
}

.results-wrapper mat-list-item p {
    color: white;
    margin: 0px;
}

.results-wrapper mat-list-item:hover p {
    color: #4585d9;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
