<div class="container">
  <div class="content">
    <div class="search-container">
      <div class="input-wrapper">
        <mat-form-field class="search-input" appearance="fill">
          <mat-label>Search GitHub Repositories</mat-label>
          <input matInput [(ngModel)]="searchQuery" (keyup.enter)="searchRepositories()" 
                 (focus)="inputFocused = true" (blur)="inputFocused = false"/>
        </mat-form-field>
        <div *ngIf="!loading && searchQuery && searchQuery !== currentSearchQuery" @fadeInOut>
          <button mat-raised-button color="primary" (click)="searchRepositories()">
            Search
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="loading-spinner-wrapper" @fadeInOut>
      <mat-spinner class="loading-spinner"></mat-spinner>
    </div>
    <div *ngIf="!loading && repositories.length > 0" class="results-wrapper" @fadeInOut>
      <mat-list>
        <ng-container *ngFor="let repo of repositories; let i = index">
          <mat-list-item>
            <a [routerLink]="['/repository', repo.owner.login, repo.name]">{{ repo.full_name }}</a>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
  </div>
</div>
