.back-button-container {
  width: 100%;
  background-color: #161b22;
  border-bottom: 1px solid #30363c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.back-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.inner-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px, 0px;
}

.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container::-webkit-scrollbar {
  width: 10px;
}

.inner-container::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.inner-container::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

.inner-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.filter-field {
  width: 100%;
  margin-bottom: 10px;
}

.loading-spinner-wrapper {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.results-wrapper {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.results-wrapper mat-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #161b22;
  color: white;
  border: 1px solid #30363c;
  border-radius: 2px;
  transition: 0.3s;
}

.results-wrapper mat-list-item:hover {
  background-color: #1f262e;
  color: #4585d9;
  transition: 0s;
}

.results-wrapper mat-list-item:nth-child(odd) {
  background-color: #161b22;
}

.results-wrapper mat-list-item:nth-child(even) {
  background-color: #121417;
}

.results-wrapper mat-list-item:hover,
.results-wrapper mat-list-item:nth-child(odd):hover,
.results-wrapper mat-list-item:nth-child(even):hover {
  background-color: #1f262e;
  color: #4585d9;
}

.results-wrapper mat-list-item p {
  color: white;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-wrapper mat-list-item:hover p {
  color: #4585d9;
}

.chart-container {
  width: 100%;
  max-width: 600px;
}

.legend-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 3px;
}
