<button mat-raised-button (click)="goBack()">Back</button>
<mat-form-field appearance="fill">
  <mat-label>Filter Issues</mat-label>
  <mat-select [(value)]="filterState" (selectionChange)="filterIssues()">
    <mat-option value="all">All</mat-option>
    <mat-option value="open">Open</mat-option>
    <mat-option value="closed">Closed</mat-option>
  </mat-select>
</mat-form-field>
<mat-list>
  <mat-list-item *ngFor="let issue of filteredIssues">
    {{ issue.title }}
  </mat-list-item>
</mat-list>
